<div class="container-fluid app">
  <ul class="nav nav-tabs nowrap">
    <li role="presentation" class="active"><a href="#"><i class="fa fa-hand-spock-o"></i></a></li>
    <li role="presentation"><a href="#"><i class="fa fa-beer"></i></a></li>
    <li role="presentation"><a href="#"><i class="fa fa-coffee"></i></a></li>
    <li role="presentation"><a href="#"><i class="fa fa-cutlery"></i></a></li>
    <li role="presentation"><a href="#"><i class="fa fa-music"></i></a></li>
    <li role="presentation"><a href="#">...</a></li>
  </ul>

  <table class="table">
    <tbody>
      <tr>
        <td>Beer Palace</td>
        <td>42m</td>
        <td><i class="fa fa-beer"></i></td>
      </tr>
      <tr>
        <td>Groove room</td>
        <td>144m</td>
        <td><i class="fa fa-music"></i></td>
      </tr>
      <tr>
        <td>Cool Beans</td>
        <td>1.2km</td>
        <td><i class="fa fa-coffee"></i></td>
      </tr>
      <tr>
        <td>BurrGurrhs</td>
        <td>2.2km</td>
        <td><i class="fa fa-cutlery"></i></td>
      </tr>
      <tr>
        <td>...</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>...</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>...</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>...</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>


  <div class="row text-center bottom-btns">
    <div class="col-xs-4"><i class="fa fw fa-2x fa-map-o"></i></div>
    <div class="col-xs-4"><i class="fa fw fa-2x fa-map-marker"></i></div>
    <div class="col-xs-4"><i class="fa fw fa-2x fa-binoculars"></i></div>
  </div>

  {{outlet}}
</div>
